html {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  background: url(./img/background-board-brown-326311.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:  75%;
}

body {
  height: 100%;
  text-align: center;
  margin-top: 20%;
}

h1 {
  text-transform: uppercase;
  font-size: 45px;
  background-color: #ff3f00;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: black;
  border: 2px solid #ffe500;
}

p {
  font-size: 30px;
}

span {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.current-character {
  color: #f7ef04;
  font-size: 80px;
}


.succeed {
  font-size: 30px;
  color: #1dff00
}

.game-over {
  color: #00ff2e;
}

.container {
  background-color: #0c00ff;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.space-fail {
  background-color: red;
}

.current-char-blinking {
  font-weight: 100;
  font-size: 80px;
  color: #f7ef04;
  animation: 0.2s blink step-end infinite;
}



@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #f7ef04;
  }
}

.failed {
  font-size: 80px;
  color: red;
}


#button-start {
  box-shadow: none;
  border: 1px solid green;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #26ff00;
  color: black;
  font-weight: 700;
}