* {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  margin-top: 20%;
}

h1 {
  font-size: 45px;
  background-color: #ff3f00;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: black;
  border: 2px solid #ffe500;
}

p {
  font-size: 30px;
}

span {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0)
}

.current-character {
  color: #f7ef04;
  font-size: 80px;
}

.failed {
  font-size: 80px;
  color: red;
}

.succeed {
  font-size: 30px;
  color: #1dff00
}

.game-over {
  color: #00ff2e;
}

.container {
  background-color: #0c00ff;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.space-fail {
  background-color: red;
}